<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings">
      <section name="tusSettings" type="TusConsoleApp.Configuration.TusSettings, TusConsoleApp" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <tusSettings  baseAddress="https://localhost:5121/api/"
                  userName="[userName]" login="[login]" password="[password]" />
  </applicationSettings>
</configuration>